data_results/formats/format_etalabcs1100502.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="typeNumeroFiness">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9A-Z][0-9]{7}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeRaisonSociale">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="38"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeRaisonSocialeLongue">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeComplementRaisonSociale">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeComplementDistribution">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeNumeroVoie">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeTypeVoie">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLibelleVoie">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="27"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeComplementVoie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="Q"/>
      <xs:enumeration value="T"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLieuDitBp">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeCommune">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeDepartement">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9A-Z]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLibelleDepartement">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLigneAcheminement">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5} [\s\S]{1,26}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeTelephone">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeTelecopie">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeCategorie">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLibelleCategorie">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeCategorieAgregat">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLibelleCategorieAgregat">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeSiret">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{14}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeCodeApe">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}[A-Z]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeCodeMft">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLibelleMft">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeCodeSph">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeLibelleSph">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeDateOuverture">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="typeDateAutorisation">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="typeDateMajStructure">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="typeNumeroUAI">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{7}[A-Z]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeEmetteur">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANESM"/>
      <xs:enumeration value="anesm"/>
      <xs:enumeration value="ARHGOS"/>
      <xs:enumeration value="arhgos"/>
      <xs:enumeration value="ARSIDF"/>
      <xs:enumeration value="arsidf"/>
      <xs:enumeration value="ASIP"/>
      <xs:enumeration value="asip"/>
      <xs:enumeration value="BIOMED"/>
      <xs:enumeration value="biomed"/>
      <xs:enumeration value="CNAMTS"/>
      <xs:enumeration value="cnamts"/>
      <xs:enumeration value="CNSA"/>
      <xs:enumeration value="cnsa"/>
      <xs:enumeration value="ETALAB"/>
      <xs:enumeration value="etalab"/>
      <xs:enumeration value="FINESS"/>
      <xs:enumeration value="finess"/>
      <xs:enumeration value="FNMF"/>
      <xs:enumeration value="fnmf"/>
      <xs:enumeration value="IMOTEP"/>
      <xs:enumeration value="imotep"/>
      <xs:enumeration value="PHAR"/>
      <xs:enumeration value="phar"/>
      <xs:enumeration value="RESS"/>
      <xs:enumeration value="ress"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="fluxetalab">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="horodatage" minOccurs="1" maxOccurs="1"/>
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="structureet"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="horodatage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="emetteur" type="typeEmetteur" minOccurs="1" maxOccurs="1"/>
        <xs:element name="destinataire" type="typeEmetteur" minOccurs="1" maxOccurs="1"/>
        <xs:element name="versionmessage" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="fluxnum" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
        <xs:element name="datemaj" type="xs:date" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="structureet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nofinesset" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="nofinessej" type="typeNumeroFiness" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="rs" type="typeRaisonSociale" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="rslongue" type="typeRaisonSocialeLongue" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="complrs" type="typeComplementRaisonSociale" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="compldistrib" type="typeComplementDistribution" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="numvoie" type="typeNumeroVoie" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="typvoie" type="typeTypeVoie" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="voie" type="typeLibelleVoie" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="compvoie" type="typeComplementVoie" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="lieuditbp" type="typeLieuDitBp" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="commune" type="typeCommune" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="departement" type="typeDepartement" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="libdepartement" type="typeLibelleDepartement" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="ligneacheminement" type="typeLigneAcheminement" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="telephone" type="typeTelephone" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="telecopie" type="typeTelecopie" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="categetab" type="typeCategorie" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="libcategetab" type="typeLibelleCategorie" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="categagretab" type="typeCategorieAgregat" minOccurs="1" maxOccurs="1" nillable="false"/>
        <xs:element name="libcategagretab" type="typeLibelleCategorieAgregat" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="siret" type="typeSiret" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="codeape" type="typeCodeApe" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="codemft" type="typeCodeMft" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="libmft" type="typeLibelleMft" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="codesph" type="typeCodeSph" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="libsph" type="typeLibelleSph" minOccurs="1" maxOccurs="1" nillable="true"/>
        <xs:element name="dateouv" type="typeDateOuverture" minOccurs="1" maxOccurs="1" nillable="true" default="1900-01-01"/>
        <xs:element name="dateautor" type="typeDateAutorisation" minOccurs="1" maxOccurs="1" nillable="true" default="1900-01-01"/>
        <xs:element name="datemaj" type="typeDateMajStructure" minOccurs="1" maxOccurs="1" nillable="false" default="1900-01-01"/>
        <xs:element name="numuai" type="typeNumeroUAI" minOccurs="1" maxOccurs="1" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
